<ion-content [forceOverscroll]="false">
	<ion-grid>
		<ion-row>
			<ion-col class="center play_page">

				<div class="the_wheel">
					<img src="assets/images/square.gif">
					<div class="canvas2">
						<ion-row>
							<ion-col size="4" *ngFor="let p of pick_btn; let i = index;">
								<div class="pick_btn sound_click {{((p)?' checked':'')}}" (click)="check(i)">
									<img *ngIf="!win" class="img_p flip-front {{(btn.disabled) ? ' fliploop':''}}" src="assets/images/pick_icon.png">
									<img *ngIf="win" class="img_p flip-back {{(i==win.rand)?'win':''}}" src="assets/images/{{(i==win.rand)?'diamond':'empty'}}.png">
									<ion-icon *ngIf="p" name="checkmark-outline"></ion-icon>
								</div>
							</ion-col>
						</ion-row>
					</div>
					<ion-row class="btn_custom">
						<ion-col size="5">
							<ion-button expand="block" color="danger" (click)="check(0, 0)" size="small">
								<ion-icon name="trash-outline"></ion-icon> {{'clear_all'}}
							</ion-button>
						</ion-col>
						<ion-col size="2">
							<ion-button expand="block" color="dark" (click)="api.openModal('instruction', {des: 'instruction_pick'})" size="small">
								<i class="fa fa-fw fa-info-circle"></i>
							</ion-button>
						</ion-col>
						<ion-col size="5">
							<ion-button expand="block" (click)="check(0, 1)" size="small">
								<ion-icon name="checkmark-done-outline"></ion-icon> {{'select_all'}}
							</ion-button>
						</ion-col>
					</ion-row>
				</div>
			</ion-col>
		</ion-row>

		<ion-row class="box_amount fadein" [hidden]="auto_play">
			<ion-col size="8">
				<ion-range (ionChange)="setAutoAmount()" color="secondary" [min]="min" id="amount_range" [max]="api.user.balance" [step]="min" [(ngModel)]="amount" class="sound_click">
					<ion-text slot="start" color="secondary">
						<i class="fa fa-fw fa-gem"></i>
					</ion-text>
		      	</ion-range>
			</ion-col>
			<ion-col size="4" class="box_input">
				<div class="card card-blue">
					<ion-input (ionChange)="setAutoAmount()" [min]="min" [max]="api.user.balance" required type="number" class="ion-no-padding sound_click" [(ngModel)]="amount"></ion-input>
				</div>
			</ion-col>

			<ion-col size="12">
				<ion-row>
		    		<ion-col class="btn_set_amount" size="3" *ngFor="let b of api.btn_amount; let i = index;">
		    			<button [disabled]="api.user.balance < min" type="button" (click)="setAmount(b)" class="sound_click btn bg{{i}}">{{b}}</button>
		    		</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
	    <ion-row *ngIf="tab_active=='automatic'" class="fadein ion-margin-top">
	    	<ion-col class="tab_auto" size="12" *ngFor="let tab of ['lose', 'win']" id="tab_{{tab}}">
	    		<div class="card">
			    <ion-row>
			    	<ion-col size="5" class="center">
			    		<ion-row>
			    			<ion-col>
				    			<ion-label (click)="api.openModal('instruction', {des: 'description_action_'+tab})" class="bold sound_click" [color]="change_auto[tab].color">
					    			{{'action_'+tab}}
					    			<i class="fa fa-fw fa-info-circle"></i>
					    		</ion-label>
								<ion-button class="sound_click" [fill]="!change_auto[tab].step?'outline':'solid'" [color]="change_auto[tab].color" [disabled]="!change_auto[tab].step" (click)="change_auto[tab].step = 0" expand="block">
									<ion-icon name="refresh"></ion-icon>{{change_auto[tab].amount}}
						</ion-button>
			    			</ion-col>
			    		</ion-row>
			    	</ion-col>
			    	<ion-col size="7">
			    		<ion-row>
		      				<ion-col *ngFor="let s of api.steps; let i = index;" size="4">
		      					<ion-button size="small" class="sound_click" [color]="change_auto[tab].color" (click)="change_auto[tab].step = i+1" [fill]="(change_auto[tab].step==i+1)?'outline':'solid'" expand="block" [disabled]="(change_auto[tab].step==i+1)">{{s}}</ion-button>
		      				</ion-col>
		      			</ion-row>
			    	</ion-col>
			    </ion-row>
			    </div>
	    	</ion-col>
	    </ion-row>
	    <ion-row>
	    	<ion-col size="12">
				<div class="history_div">
					<div *ngIf="history">
						<ion-chip class="fadein" *ngFor="let h of history; let i = index;" [color]="(h.type == '+') ? 'secondary':'danger'">
							<i class="fa fa-fw fa-gem"></i> {{api.num2text(h.value)}}
						</ion-chip>
					</div>
					<div *ngIf="!history">
						<ion-skeleton-text animated></ion-skeleton-text>
					</div>
				</div>
	    	</ion-col>
	    </ion-row>
	</ion-grid>
</ion-content>
<ion-footer class="footer_game">
	<div class="alert_chip zoominout">
		<ion-badge *ngIf="!total_check" color="warning">
			{{'pick_card'}}
		</ion-badge>
		<ion-badge *ngIf="total_check" color="success">
			x{{(10/total_check).toFixed(1)}}
		</ion-badge>
	</div>
	<div class="button_tabs">
		<ion-segment (ionChange)="segmentChanged($event)" [value]="tab_active">
		  	<ion-segment-button class="card" [disabled]="tab_active == api.tabs[i]" *ngFor="let t of api.tabs;let i = index;" [value]="t">
		    	<ion-text class="{{(i)?'end':'start'}}">{{t}}</ion-text>
		  	</ion-segment-button>
		</ion-segment>
		<div id="box_click">
			<button [disabled]="btn.disabled" type="submit" id="play_btn" class="btn btn_border" [style.background]="btn.color" (click)="play()">
			    <ion-icon [class]="(auto_play)?'fa-spin':''" name="{{(!auto_play)?'play':'reload'}}-circle-outline"></ion-icon>
		    </button>
		<ion-badge id="chip_current_amount" color="warning" [hidden]="!auto_play">
	    	{{api.num2text(current_amount)}}
	    </ion-badge>
	    </div>
	</div>
</ion-footer>
